<table>
    <tr>
      <th>Id</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
    <tr>
          <tr>
          <td><%=user.id%></td>
          <td><%=user.firstName%></td>
          <td><%=user.email%></td>
          <td><%=user.phone%></td>
          <td><%=user.address%></td>
          <td><a href="/users/<%=user.id%>/edit">Edit</a> || <a href="/users/<%=user.id%>/play">Play</a>

    </tr>
  </table>
