<!DOCTYPE html>
<html>
<head>
  <% include ../partials/cssPartial.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>
<h2>List Members Gold Golf</h2>

<table>
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Birthdate</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Branch</th>
    <th>Options</th>
  </tr>
  <tr>
      <% users.forEach(user => { %>
        <tr>
        <td><%=user.id%></td>
        <td><%=user.firstName%></td>
        <td><%=user.lastName%></td>
        <td><%=user.birthdate%></td>
        <td><%=user.email%></td>
        <td><%=user.phone%></td>
        <td><%=user.address%></td>
        <td><%=user.BranchId%></td>
        <td><a href="/members/<%=user.id%>/edit">Edit</a> || <a href="/members/<%=user.id%>/delete">Delete</a></td>
      </tr>
      <% }) %>
  </tr>
</table>
<br>
</body>
</html>
