<!DOCTYPE html>
<html>
<head>
  <% include ../partials/cssPartial.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>
<br>
    <form action="/admin/search" method="GET">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">O</button>
    </form>
<br>
<a href="/admin/playing">Members Playing</a>
<h2>List Members Gold Golf</h2>

<table>
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Birthdate</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Branch</th>
    <th>Options</th>
  </tr>
  <tr>
      <% users.forEach(user => { %>
        <tr>
        <td><%=user.id%></td>
        <td><%=user.firstName%></td>
        <td><%=user.lastName%></td>
        <td><%=user.birthdate%></td>
        <td><%=user.email%></td>
        <td><%=user.phone%></td>
        <td><%=user.address%></td>
        <% if(user.Branches.length != 0){ %>
          <%user.Branches.forEach(branch => { %>
            <td><%=branch.branchName%></td>
          <% }) %>
        <% } else { %>
          <td><%=user.BranchId%></td>
       <% } %>
        <td><a href="/admin/<%=user.id%>/edit">Edit</a> || <a href="/admin/<%=user.id%>/delete" onclick="return confirm ('Delete user?')">Delete</a></td>
      </tr>
      <% }) %>
  </tr>
</table>
<br>
</body>
</html>
