<!DOCTYPE html>
<html>
<head>
    <% include ../partials/cssPartial.ejs %>
</head>
    <body>
    <% include ../partials/nav.ejs %>
    <br>
    <!DOCTYPE html>
<html>
<body>

<h2>Gold Golf</h2>

<form action="/users/<%=user.id%>/checkDistance" method="POST">
  User Id:<br>
  <input type="text" name="UserId" value="<%= user.id%>">
  <br>
  First name:<br>
  <input type="text" name="firstName" value="<%= user.firstName%>">
  <br>
  Last name:<br>
  <input type="text" name="lastName" value="<%= user.lastName%>">
  <br>
  Select Your Prefered Branch to Come:
  <select name="nextBranch">
      <%branchs.forEach(branch => { %>
        <option value="<%= branch.id%>"><%= branch.branchName%></option>
      <% })%>
  </select>
  <br><br>
  <input type="submit" value="Check Distance">
</form> 
</body>
</html>
    <br>
</body>
</html>
