
<!DOCTYPE html>
<html>
<head>
    <% include ../partials/cssPartial.ejs %>
</head>
    <body bgcolor="#DAF7A6">
    <% include ../partials/nav.ejs %>
    <br>
    <!DOCTYPE html>
<html>
<body>

<h1 style="color:#F5B041"href>Gold Golf</h1>

<form action="/users/<%=user.id%>/play" method="POST">
  User Id:<br>
  <input type="text" name="UserId" value="<%= user.id%>">
  <br>
  First name:<br>
  <input type="text" name="firstName" value="<%= user.firstName%>">
  <br>
  Last name:<br>
  <input type="text" name="lastName" value="<%= user.lastName%>">
  <br>
  Select Branch:<br>
  <select name="BranchId">
      <%branchs.forEach(branch => { %>
        <option value="<%= branch.id%>"><%= branch.branchName%></option>
      <% })%>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>
    <br>
</body>
</html>
